<div class="label">
  <span>
    {{ "SETTINGS.DOWNLOAD_DOCS" | translate }}
  </span>
</div>
<button mat-button matRipple class="main-btn-primary" (click)="getReport()">
  <img class="icon" src="assets/images/control-icons/icons-download-circular.svg" alt="">
  <span>
    {{ 'SETTINGS.REPORT' | translate }}
  </span>
</button>
<button mat-button matRipple class="main-btn-primary contract" (click)="getOrder()">
  <img class="icon" src="assets/images/control-icons/icons-download-circular.svg" alt="">
  <span>
    {{ 'SETTINGS.ORDER' | translate }}
  </span>
</button>
