@import "../../settings-common.scss";

:host {
  display: flex;
  align-items: center;
  margin: 20px 0;
  width: 100%;
  padding: 0 3%;
  .warning {
    color: orangered;
    border: 3px solid transparent;
    padding: 1em;
    transition: 0.3s;
  }
  .cleardb-btn {
    margin: 0 20px;
    padding: 0 3em 0 1em;
    min-width: min-content;
    .icon {
      height: 50%;
      transition: 0.3s;
    }
    &:active {
      .icon {
        transform: scale(0.96);
        transition: 30ms;
      }
    }
  }
}
