<form [formGroup]="range">
<h2>Оберіть ран</h2>
  <mat-label>
    Рік початку практики:
  </mat-label>
  <mat-form-field appearance="fill">
    <mat-label></mat-label>
    <input matInput type="number" (input)="inputHandlerStart($event)" formControlName="start"/>
  </mat-form-field>
<mat-label>
    Рік закінчення практики:
  </mat-label>
  <mat-form-field appearance="fill">
    <mat-label></mat-label>
    <input matInput type="number" (input)="inputHandlerEnd($event)" formControlName="end"/>
  </mat-form-field>
  
  <mat-form-field appearance="fill">
    <mat-label>Рівень навчання</mat-label>
    <mat-select>
      <mat-option value="1" (click)="changeGradeLevel(1)">перший (бакалаврський)</mat-option>
      <mat-option value="2" (click)="changeGradeLevel(1)">перший (скорочений термін навчання) (бакалаврський)</mat-option>
      <mat-option value="3" (click)="changeGradeLevel(1)">другий (магістерський)</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button color="primary" (click)="cancel()">Скасувати</button>
<button mat-button disabled="{{range.invalid}}" color="primary" (click)="submit()">Пошук</button>
</form>